.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color-dark-blue);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.adress-container {
    margin-right: 70px;
}

.footer__website-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.addres__item:not(:last-child) {
    margin-bottom: 9px;
}

.addres__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    @include fonts(400, 14px, 1.71, 0.03em);
    text-decoration: none;

    transition-property: color;
    @include animation;

    &--white {
        color: var(--text-color-white);
    }

    &:hover,
    &:focus {
        color: var(--text-color-blue);
        outline: none;
    }
}

.join__title {
    margin-bottom: 20px;
    color: var(--text-color-white);
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.join__list {
    display: flex;
    gap: 10px;
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color transfrom;
    @include animation;

    &:hover,
    &:focus {
        transform: rotate(360deg);
        background-color: var(--text-color-blue);
        outline: none;
    }
}

.subscription {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
}

.subscription__text {
    display: block;

    margin-bottom: 20px;

    color: var(--text-color-white);
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.subscription__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--text-color-white);
    background-color: var(--bg-color-dark-blue);
    outline: none;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    &:hover,
    &:focus {
        border-color: var(--bg-color-white);
    }
}

.subscription__press {
    margin-right: 10px;
    color: var(--text-color-white);
    @include fonts(700, 16px, 1.88, 0.06em);
}

.subscription__icon {
    transition-property: transform;
    @include animation;

    .subscription__btn:hover & {
        transform: rotate(360deg);
    }
}
