.header__line {
  border-bottom: 1px solid #ececec;
}

.header-container {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.header__website-logo {
  margin-right: 93px;
  text-decoration: none;
}

.header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  gap: 50px;
}

.header-nav__item {
  position: relative;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color-black);
  @include fonts(500, 14px, 1.14, 0.02em);
  text-decoration: none;

  transition-property: color;
  @include animation;

  &:hover,
  &:focus {
    color: var(--text-color-blue);
    outline: none;
  }
}

.header-nav__link.active {
  color: var(--text-color-blue);
}

.header-nav__link.active::before {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;

  border-radius: 2px;
  background-color: var(--text-color-blue);
}

.header-contacts {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-contacts__list {
  display: flex;
  gap: 50px;
}

.header-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color-grey);
  @include fonts(500, 14px, 1.14, 0.02em);
  text-decoration: none;

  transition-property: color;
  @include animation;

  &:hover,
  &:focus {
    color: var(--text-color-blue);
    outline: none;
  }
}

.header-contacts__icon {
  margin-right: 10px;

  fill: var(--text-color-grey);

  transition-property: color;
  @include animation;

  .header-contacts__link:hover &,
  .header-contacts__link:focus & {
    fill: var(--text-color-blue);
  }
}

.mobile-btn {
  display: inline-flex;

  z-index: 100;

  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  fill: #212121;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  & .icon-open {
    display: none;
  }

  &.is-open .icon-open {
    display: block;
  }

  &.is-open .icon-close {
    display: none;
  }
}
