.hero {
  
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    background-color: var(--bg-color-dark-blue);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
  @media screen and (min-width: $tablet) {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-img.jpg');
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-img.jpg');
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  width: 360px;

  color: var(--text-color-white);
  @include fonts(900, 26px, 1.61, 0.06em);
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    @include fonts(900, 44px, 1.36, 0.06em);
    width: 696px;
  }
}
