.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;
    text-align: center;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__title {
    margin-bottom: 30px;

    color: var(--text-color-black);
    @include fonts(700, 28px, 1.17, 0.03em);

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        @include fonts(700, 36px, 1.17, 0.03em);
    }
}

.team__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 30px;
    }
}

.team__item {
    background-color: var(--bg-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 2 * 30px) / 2);
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }

}


.team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    color: var(--text-color-black);
    @include fonts(500, 16px, 1.19, 0.03em);
}

.team__position {
    margin-bottom: 16px;

    color: var(--text-color-grey);
    @include fonts(400, 16px, 1.19, 0.03em);
}

.team__networks {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    fill: var(--social-color-grey);

    transition-property: background-color fill;
    @include animation;

    &:hover,
    &:focus {
        background-color: var(--text-color-blue);
        outline: none;
    }
}

.team__icon {
    transition-property: fill transform;
    @include animation;

    .team__link:hover &,
    .team__link:focus & {
        fill: var(--text-color-white);
        transform: rotate(360deg);
    }
}
