 :root {
     /* Page Fonts */
     --main-font: 'Roboto', sans-serif;
     --secondary-font: 'Raleway', sans-serif;
     /* Page Text Colors */
     --text-color-blue: #2196f3;
     --text-color-black: #212121;
     --text-color-white: #ffffff;
     --text-color-grey: #757575;
     /* Page Background Colors */
     --bg-color-white: #ffffff;
     --bg-color-dark-blue: #2f303a;
     --bg-color-light-grey: #f5f4f4;
     /* Icon Colors */
     --social-color-grey: #afb1b8;
 }